@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&display=swap');
#home {
    margin: -10px;
    height: 400px;
    background: url("../bg-flower/mobile/1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#home .bg {
    width: 100%;
    position: absolute;
    background-size: cover;
}

.bg-desktop {
    display: none;
}

.bg-mobile {
    display: block;
}

.home-col {
    margin-top: 35%;
    margin-left: 10px;
}

.home-title {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 45px
}

.home-couple {
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 30px;
}

.home-date {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 100;
}

#couple {
    height: auto;
    margin: -10px;
    background-color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: 50px 10px;
}

#event {
    position: relative;
    border-radius: 30px 30px 0 0;
    height: auto;
    padding: 0 10px;
    margin: -10px;
    padding: 50px 10px;
    z-index: 3;
    background-color: #91EBEF;
}

.countdown {
    background: #4964c5;
    border-radius: 10px;
    padding: 0;
    margin-top: -25%;
    letter-spacing: 3px;
}

.text-countdown span {
    color: white;
    font-size: 35px;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-weight: bold;
}

.img-event {
    padding: 0 20%;
}

#doa {
    background: rgb(255, 255, 255);
    padding: 50px 10px;
    text-align: center;
    margin-top: -20px;
    margin: -10px;
    z-index: 4;
}

#maps {
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #F2D9CD;
    padding: 50px 10px;
    margin: -10px;
    z-index: 5;
}

#ucapans {
    height: 100%;
    z-index: 2;
    padding: 50px 10px;
    position: relative;
}

.list-ucapan {
    padding: 10px 20px;
    height: 430px;
    border-radius: 5px;
    overflow-x: hidden;
    border: 1px solid #dedede;
}

.list-ucapan h6 {
    font-size: 14px;
    margin-bottom: -5px !important;
}

.list-ucapan small {
    font-size: 11px;
    color: rgb(139, 139, 253);
}

.list-ucapan p {
    margin-top: 5px;
    font-size: 12px;
}

.img-ucapan {
    width: 100%;
    padding-right: 10px;
    padding-top: 0%;
}

#gallery {
    height: auto;
    margin: -10px;
    background-color: #C7E6EB;
    padding: 50px 10px 100px 10px;
}

.primary-menu {
    color: white;
    cursor: pointer;
    /* background: #4964c5; */
    padding: 10px 5px 5px 5px;
    text-align: center;
    font-size: 12px;
}

.primary-menu:hover, .active {
    color: black;
    background: #91ebef;
    border-radius: 5px;
}

.fa-2x {
    font-size: 1.5em;
}

.welcome {
    padding: 0 10%;
    z-index: 3;
}

.welcome-img {
    width: 80%;
}

.welcome-bg {
    width: 80%;
    position: absolute;
    left: 10%;
    z-index: -5;
}

.modal {
    background: #4964c5;
    background-size: cover;
    background-repeat: no-repeat;
}

.audio-button {
    position: fixed;
    z-index: 99999;
    top: 2%;
    right: 2%
}

.btn-circle {
    border-radius: 50px;
    padding-right: 12px;
    padding-left: 12px;
    background: rgb(218, 205, 136);
    border: 1px gold;
}