        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

        body {
            font-family: 'Nunito', sans-serif;
            letter-spacing: 1.1px;
            line-height: 1.6 !important;
        }

        p {
            font-size: 18px;
        }

        .h1-title {
            font-family: 'Parisienne', cursive;
            text-shadow: 1px 1px #918d8d;
        }

        h3 {
            font-family: 'Parisienne', cursive;
            text-shadow: 1px 1px #918d8d;
            color: #64B5C7
        }

        .container-fluid {
            padding: 0 !important;
        }

        #home {
            height: 760px;
            width: 100%;
            background: url("../bg-flower/1-bg.png");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            -webkit-mask-image: url("../img/grit.png");
            mask-image: url("../img/grit.png");
        }

        #home .bg {
            width: 100%;
            position: absolute;
        }

        .bg-desktop {
            display: block;
        }

        .bg-mobile {
            display: none;
        }

        .home-col {
            margin-top: 15%;
        }

        .home-title {
            font-family: 'Parisienne', cursive;
            font-weight: 500;
            text-shadow: 1px 1px gray;
            font-size: 75px
        }

        .home-couple {
            font-family: 'Parisienne', cursive;
            font-weight: 500;
            text-shadow: 1px 1px gray;
            font-size: 50px;
        }

        .home-date {
            margin-top: 80px;
            font-size: 20px;
            font-weight: 100;
        }

        #couple {
            height: 100vh;
            /* background: url("../bg-flower/bg-couple.png"); */
            background-color: #ffffff;
            background-size: 100%;
            background-repeat: no-repeat;
            position: relative;
            z-index: 99;
            padding: 0px 100px;
        }

        #couple .bg {
            position: absolute;
        }

        .doa-title {
            width: 25%;
        }

        .couple1 {
            margin-top: -30px;
            width: 300px;
            z-index: 2;
        }

        #couple h3 {
            font-size: 35px;
            font-family: 'Dancing Script', cursive;
        }

        #couple h5 {
            font-family: 'Parisienne', cursive;
        }

        #event {
            position: relative;
            height:auto;
            background: url("../bg-flower/bg-couple.png");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            padding : 100px 200px 70px 200px;
        }

        .card-1 {
            border-radius:15px 75px; 
            background: rgb(255, 255, 255);
            border:0px;
            -webkit-mask-image: url("../img/grit.png");
            mask-image: url("../img/grit.png");
        }

        .card-2 {
            border-radius:75px 15px; 
            background: rgb(255, 255, 255);
            border:0px;
            -webkit-mask-image: url("../img/grit.png");
            mask-image: url("../img/grit.png");
        }

        @media only screen and (max-width: 800px) and (min-width: 0px) {
            p {
                font-size: 16px;
            }

            #home {
                height: 640px;
                background: url("../bg-flower/mobile/1-bg.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
            }

            #home .bg {
                width: 100%;
                position: absolute;
                background-size: cover;
            }

            .bg-desktop {
                display: none;
            }

            .bg-mobile {
                display: block;
            }

            .home-col {
                margin-top: 60%;
                margin-left: 10px;
            }

            .home-title {
                font-family: 'Parisienne', cursive;
                font-weight: 500;
                text-shadow: 1px 1px gray;
                font-size: 45px
            }

            .home-couple {
                font-family: 'Parisienne', cursive;
                font-weight: 500;
                text-shadow: 1px 1px gray;
                font-size: 30px;
            }

            .home-date {
                margin-top: 30px;
                font-size: 15px;
                font-weight: 100;
            }

            #couple {
                height: 100%;
                background-size: cover;
                background-position: top right;
                background-repeat: no-repeat;
                position: relative;
                z-index: 2;
                padding: 10px;
                padding-bottom: 50px;
            }

            .doa-title {
                width: 55%;
            }

            .couple1 {
                margin-top: -45px;
                text-align: center;
                z-index: -2;
                left: 40%;
            }

            .couple-title {
                margin-top: 250px;
            }

            #couple h3 {
                font-size: 25px;
                font-family: 'Dancing Script', cursive;
            }

            #couple h5 {
                font-size: 20px;
                font-family: 'Parisienne', cursive;
            }

            #event {
                height: 100vh;
                padding : 70px 10px;
            }
        }

        .custom-shape-divider-bottom-1611758739 {
            position: absolute;
            bottom: -70px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(360deg);
        }

        .custom-shape-divider-bottom-1611758739 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 70px;
        }

        .custom-shape-divider-bottom-1611758739 .shape-fill {
            fill: #ffffff;
        }

        .custom-shape-divider-top-1612355560 {
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .custom-shape-divider-top-1612355560 svg {
            position: relative;
            display: block;
            width: calc(198% + 1.3px);
            height: 72px;
        }

        .custom-shape-divider-top-1612355560 .shape-fill {
            fill: #ffffff;
        }

        /** For mobile devices **/
        @media (max-width: 767px) {
            .custom-shape-divider-bottom-1611758739 svg {
                width: calc(139% + 1.3px);
                height: 53px;
            }

            .custom-shape-divider-bottom-1611758739 {
                bottom: -52px;
            }
        }