@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&display=swap');
#home {
    margin: -10px;
    height: 100vh;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#home .bg {
    width: 100%;
    position: absolute;
    background-size: cover;
}

.bg-desktop {
    display: none;
}

.bg-mobile {
    display: block;
}

.welcome-col {
    padding: 45% 10px;
    margin-left: 0px;
}

.welcome-title {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 45px
}

.welcome-couple {
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 30px;
}

.home-col {
    padding: 50px 10px 60px 10px;
    margin-left: 0px;
}

.home-title {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 45px
}

.home-couple {
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 30px;
}

.home-date {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 100;
}

.home-header {
    margin: -10px;
    background: url('../bg-flower/bg-headers.png');
    height: 30vh;
    /* background-attachment: fixed; */
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 0px 10px 20px 10px;
}

.page-header {
    height: auto;
    position: relative;
    z-index: 2;
}

#couple {
    height: auto;
    margin-top: 0%;
    border-radius: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: 50px 10px 100px 10px;
}

#event {
    position: relative;
    border-radius: 20px;
    height: auto;
    padding: 0 10px;
    margin-top: -5%;
    padding: 50px 10px;
    z-index: 3;
}

.countdown {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 0;
    margin-top: -10%;
    letter-spacing: 3px;
}

.text-countdown span {
    color: #533938;
    font-size: 35px;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-weight: bold;
}

.img-event {
    padding: 0 10%;
}

#doa {
    background: #4964c5;
    color: white;
    padding: 50px 20px 100px 20px;
    text-align: center;
    margin-top: -20px;
    margin: -10px;
    z-index: 4;
}

#maps {
    position: relative;
    border-radius: 30px 30px 0 0;
    padding: 50px 10px 50px 10px;
    margin-top: -20px;
    z-index: 2;
}

#ucapans {
    height: auto;
    border-radius: 20px;
    z-index: 2;
    margin-top: -20px;
    padding: 50px 10px 50px 10px;
    position: relative;
}

.list-ucapan {
    padding: 10px 20px;
    height: 430px;
    border-radius: 5px;
    overflow-x: hidden;
    border: 1px solid #dedede;
}

.list-ucapan h6 {
    font-size: 14px;
    margin-bottom: -5px !important;
}

.list-ucapan small {
    font-size: 11px;
    color: rgb(139, 139, 253);
}

.list-ucapan p {
    margin-top: 5px;
    font-size: 12px;
}

.img-ucapan {
    width: 100%;
    padding-right: 10px;
    padding-top: 0%;
}

#gallery {
    height: auto;
    margin-top: -20px;
    border-radius: 20px;
    padding: 50px 10px 30px 10px;
    position: relative;
    z-index: 2;
}

.primary-menu {
    color: #533938;
    cursor: pointer;
    /* background: #4964c5; */
    padding: 10px 5px 10px 5px;
    text-align: center;
    font-size: 12px;
}

.primary-menu:hover {
    color: rgb(255, 255, 255);
    background: #533938;
}

.fa-3x {
    padding-top: 2px;
    font-size: 2.5em;
}

.fa-2x {
    font-size: 1.5em;
}

.welcome {
    padding: 0 10%;
    z-index: 3;
}

.welcome-img {
    width: 80%;
}

.welcome-bg {
    width: 80%;
    position: absolute;
    left: 10%;
    z-index: -5;
}

.modal {
    background: url('../img/bg-grit.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.audio-button {
    position: fixed;
    z-index: 99999;
    top: 2%;
    right: 2%
}

.btn-circle {
    border-radius: 50px;
    padding-right: 12px;
    padding-left: 12px;
    background: rgb(218, 205, 136);
    border: 1px gold;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
    .home-header {
        margin: -10px;
        margin-bottom: -45px;
        background: url('../bg-flower/bg-headers.png');
        height: 35vh;
        background-attachment: fixed;
        background-size: 130%;
        background-repeat: no-repeat;
        padding-top: 10px 10px 20px 10px;
    }
    .home-col {
        padding: 60px 10px 60px 10px;
        margin-left: 0px;
    }
}