@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&display=swap');
#home {
    margin: -10px;
    height: 700px;
    background: url("../bg-flower/mobile/1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#home .bg {
    width: 100%;
    position: absolute;
    background-size: cover;
}

.bg-desktop {
    display: none;
}

.bg-mobile {
    display: block;
}

.home-col {
    margin-top: 60%;
    margin-left: 10px;
}

.home-title {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 45px
}

.home-couple {
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    text-shadow: 1px 1px gray;
    font-size: 30px;
}

.home-date {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 100;
}

#couple {
    height: auto;
    margin: -10px;
    background-color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99;
    padding: 50px 10px;
}

#event {
    height: auto;
    padding: 0 10px;
    margin: -10px;
    padding: 50px 10px;
    background-color: #C7E6EB;
}

.countdown {
    background: rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    padding: 0;
    margin: 0 20%;
    letter-spacing: 3px;
}

.text-countdown span {
    font-size: 25px;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-weight: bold;
}

.img-event {
    padding: 0 20%;
}

#doa {
    background: rgb(255, 255, 255);
    padding: 50px 10px;
    text-align: center;
    margin: -10px;
}

#maps {
    background-color: #F2D9CD;
    padding: 50px 10px;
}

#ucapans {
    height: 100%;
    z-index: 2;
    padding: 30px 10px;
    position: relative;
}

.list-ucapan {
    padding: 10px 20px;
    height: 430px;
    border-radius: 5px;
    overflow-x: hidden;
    border: 1px solid #dedede;
}

.list-ucapan h6 {
    font-size: 14px;
    margin-bottom: -5px !important;
}

.list-ucapan small {
    font-size: 11px;
    color: rgb(139, 139, 253);
}

.list-ucapan p {
    margin-top: 5px;
    font-size: 12px;
}

.img-ucapan {
    width: 100%;
    padding-right: 10px;
    padding-top: 0%;
}